@{
    ViewBag.Title = "Sum Page";
}

<form asp-controller="Home" asp-action="add" method="post">
    Enter Num1: <input id="text1" name="Text1" type="text" /><br />
    Enter Num2: <input id="text1" name="Text2" type="text" /><br />
    <input id="submit" type="submit" value="Add" />

</form>

<h3>@ViewBag.SumResult</h3>

<div>
@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
            {
                Text = "Azure",
                Value = "Azure"
            });
    listItems.Add(new SelectListItem
            {
                Text = "AWS",
                Value = "AWS",
            });
    listItems.Add(new SelectListItem
            {
                Text = "GCP",
                Value = "GCP"
            });

}
 @Html.DropDownList("CloudProvider",listItems,"Select a Cloud Provider", new {@class = "form-control"})
</div>
<br />

<a href="@Url.Action("Index","Home")">Back</a>